
:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color:  #2F80ED;;
}

body {
  background-color:  #2F80ED;;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0rem;
 
}

h1 {
  font-size: 5.4rem;
  color: #ffffff;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: 700;
  color: white;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;

}

.container > * {
  width: 100%;
}

.btn {
  font-size: 1.8rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 10rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

inputBox {

  font-size: 1.8rem;
  padding: 15px;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

#main {
  display: flex;
  justify-content: space-between;
}

.main-prefix {
  text-align: center;
  font-size: 2rem;
}

.main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid green;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: green;
  width: 0%;
}


#loader {
  border: 1.6rem solid rgb(16, 121, 6);
  border-radius: 50%;
  border-top: 1.6rem solid hsl(130, 87%, 27%);
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
.linkContainer{
  color: #ffffff;
  font-size: larger;
}